body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border-bottom: 1px solid #215941;
}

.logo {
    color: white;
    font-size: 22px;
}

.buttons {
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.button:hover {
    background-color: #323131;
}

body::before {
    content: "";
    position: absolute;
    top: 100px;   
    right: 100px; 
    width: 400px;  
    height: 400px; 
    background: radial-gradient(circle, #215941 10%, black 80%);
    border-radius: 50%;
    z-index: -1; 
}
#title {
    color: white;
    z-index: 1;
    font-size: 40px;
    text-align: center;
    margin-top: 28vh;
}
.middle-container {
    position: absolute;
    top: 40%;
    left: 38%;
    width: auto;
    height: 250px;
    background-color: transparent;
    border: 1px solid #2D5957;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    border-radius: 30px;
    font-size: 20px;
    text-align: cent4er;
    padding: 0px;   
}

.upload {
    padding: 20px 40px;
    background-color: #2D5957;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    width: 55%;
    letter-spacing: 1.01px;
    margin-bottom: 30px; 
    margin-top: 10%;
    cursor: pointer;
}

h3, h4 {
    color: white;
    margin: 0; 
    padding: 5px 0; 
}
#add {
    padding: 10px 15px;
    background-color: #2D5957;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    width: 15%;
    bottom: 0;
    letter-spacing: 1.01px;
    cursor: pointer;
}
#bottom {
    position: fixed; 
    bottom: 8%;
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 10px 0;
}
.upload:hover {
    transform: scale(1.02);
    background-color:#346764;
}
#add:hover, #log-out:hover {
    transform: scale(1.02);
    background-color:#346764;
}
#log-out {
    padding: 8px 15px;
    background-color: #2D5957;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    width: 7%;
    cursor: pointer;
    margin-right: 5%;
}
.upload-btn {
    padding: 10px 20px;
    background-color: #2D5957;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

.upload-btn:hover {
    background-color: #346764;
}
.drop-zone {
    max-width: 600px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 3px solid #2D5957;
    border-radius: 20px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  