<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="../static/gallery.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Gallery</title>
</head>
<body>
    <div class="navbar">
        <h2 class="logo">plantpulse.</h2>
        <div class="buttons">
            <a href="home.html"><button class="button">Home</button></a>
            <a href="gallery.html"><button class="button">Gallery</button></a>
            <button class="button">Analytics</button>
        </div>
        <button id="log-out">Log out</button>
    </div>
    <div class="accordion">

        <article>
          <input id="article1" type="radio" name="articles" checked>
          <label for="article1">
            <h2 class="crop">Tobacco</h2>
          </label>
          <div>
            To finish growing your tobacco crop, ensure it receives consistent watering (about 1-1.5 inches per week) while avoiding overwatering to prevent disease.
Monitor for pests and diseases like aphids and blue mold, applying treatments as needed. Around this stage, topping and removing suckers will help direct energy into leaf growth instead of flowers. 
As harvest approaches, watch for leaves turning lighter green or slightly yellow, which signals they are ready for curing.
          </div>
        </article>
      
        <article>
          <input id="article2" type="radio" name="articles">
          <label for="article2">
            <h2 class="crop">Maize</h2>
          </label>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur veritatis fugiat possimus hic doloremque sint reiciendis? Quasi beatae explicabo qui quod atque a iste. Explicabo inventore quo expedita tempore amet!
          </div>
        </article>
      
        <article>
          <input id="article3" type="radio" name="articles">
          <label for="article3">
            <h2 class="crop">Corn</h2>
          </label>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur veritatis fugiat possimus hic doloremque sint reiciendis? Quasi beatae explicabo qui quod atque a iste. Explicabo inventore quo expedita tempore amet!
          </div>
        </article>
      
        <article>
          <input id="article4" type="radio" name="articles">
          <label for="article4">
            <h2 class="crop">Orchid</h2>
          </label>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur veritatis fugiat possimus hic doloremque sint reiciendis? Quasi beatae explicabo qui quod atque a iste. Explicabo inventore quo expedita tempore amet!
          </div>
        </article>
      
      </div>
      
    <script src="script.js"></script>
</body>
</html>