<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/home.css" rel="stylesheet">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <h2 class="logo">plantpulse.</h2>
        <div class="buttons">
            <a href="home.html"><button class="button">Home</button></a>
            <a href="gallery.html"><button class="button">Gallery</button></a>
            <button class="button">Analytics</button>
        </div>
        <button id="log-out">Log out</button>
    </div>
    <h2 id="title">Upload image of crop</h2>
    <div class="middle-container">
        <label for="fileInput" class="upload-btn" class="Upload">Upload File</label>
<input type="file" id="fileInput" hidden>
        <h4>paste image or <u>URL</u></h4>
    </div>
    <div id="bottom">
        <button id="add">Add to gallery</button>
    </div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
