<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/login.css" rel="stylesheet">
</head>
<body>
  <main>
    <div class="black-box"></div>
    <div class="light-green-box"></div>
    <div class="login-container">
      <h2>Welcome Back</h2>
      <h3>Please enter your account details</h3>
      <p>Email</p>
      <input id = "loginEmail" type="email" placeholder="Email" class="input-box" required/>
      <p>Password</p>
      <input id = "loginPass" type="password" placeholder="Password" class="input-box" required/>
      <button id = "loginSubmit" type="submit">Login</button>
    </div>
    <script src = "../dist/bundle.js"> </script>
  </main>
</body>
</html>