<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/login.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <div class="black-box"></div>
    <p class="title-text">plantpulse.</p>
    <div class="login-container">
      <h2>Welcome back</h2>
      <h3>Please enter your account details</h3>
      <p>Email</p>
      <input id = "loginEmail" type="email" class="input-box" placeholder="sigmaboi@gmail.com" required/>
      <p>Password</p>
      <input id = "loginPass" type="password" class="input-box" placeholder="skibiditoilet123" required/>
      <a class="forgot-password-link">Forgot Password</a>
      <button id = "loginSubmit" type="submit" class="sign-in-button">Sign in</button>
      <div class="sign-in-icons">
        <img id="googleLogIn" src="../static/images/google icon.png" class="google-sign-in-button"/>
        <img id="githubLogIn" src="../static/images/github icon.png" class="github-sign-in-button"/>
        <img id="facebookLogIn" src="../static/images/facebook icon.png" class="facebook-sign-in-button"/>
      </div>
      <a id="createAccount" class="create-account-link" style="color: white" href="signup.html">Create an account</a>
    </div>
    <img id="green-rectangle" class="green-rectangle" data-target="main-rectangle" src="../static/images/green-rectangle.png">
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </main>
</body>
</html>