<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/login.css" rel="stylesheet">
</head>
<body>
  <main>
    <div class="black-box"></div>
    <div class="light-green-box"></div>
    <div class="login-container">
      <h2>Welcome Back</h2>
      <h3>Please enter your account details</h3>
      <p>Email</p>
      <input type="email" class="input-box" required/>
      <p>Password</p>
      <input type="password" class="input-box" required/>
      <button type="submit" class="sign-in-button">Sign in</button>
    </div>
  </main>
</body>
</html>