<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../static/signup.css" rel="stylesheet">
</head>
<body>
  <main>
    <div class="black-box"></div>
    <div class="light-green-box"></div>
    <div class="signup-container">
      <h2>Welcome</h2>
      <p>Email</p>
      <input id = "signupEmail" type="email" placeholder="Email" class="input-box" required/>
      <p>Confirm Email</p>
      <input id = "confirmEmail" type="email" placeholder="Email" class="input-box" required/>
      <p>Password</p>
      <input id = "signupPass" type="password" placeholder="Password" class="input-box" required/>
      <button id = "signupSubmit" type="submit">Login</button>
    </div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </main>
</body>
</html>